body{
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../jpg/reservation.jpg') ;
    background-size: cover;
    height: 60vh;
    margin-top: 150px;
    color: white;
}
.reservation-form {
    margin-top: 100px;
    text-align: center;
}

.reservation-form input {
    display: block;
    margin: 15px auto; 
    padding: 15px;
    width: 90%; 
    max-width: 400px; 
    font-size: 16px; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
}

.reservation-form button {
    padding: 15px 30px; 
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; 
    border-radius: 8px; 
}

.reservation-form button:hover {
    background-color: #218838;
}
